img {
  width: 100%;
}
html{
  scroll-behavior: smooth;
  body{
    background-color: #f4f7f7;
    min-width: 100vw;
    overflow-x: hidden;
    font-family: "Poppins";
    justify-content: center;
    align-items: center;
  }
}
.btn-colored {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #38a0db, #38a0db, #38a0db);
  background-size: 100%;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
}
.nb {
  border: none;
}
.btn-action {
  display: block;
  outline: none;
  width: 100%;
  border: none;
  margin: 1rem 0;
  border-radius: 15px !important;
  background-image: linear-gradient(to right, #38a0db, #38a0db, #38a0db);
  background-size: 100%;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
}

.i {
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i i {
  transition: 0.3s;
}

.img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.map-color {
  color: #38a0db;
}

.red-color {
  color: red;
}
.fs-20 {
  font-size: 20px;
}

.fs-18 {
  font-size: 18px;
}

.pb-3 {
  padding-bottom: 3em;
}

.t-center {
  text-align: center;
}
th {
  font-size: 16px;
  color: #38a0db;
}
td {
  font-size: 13px;
}


.button {
  display: block;
  padding: 1em 2em;
  border: none;
  background: none;
  width: 100%;
  position: relative;
  z-index: 1;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  color: #38a0db;
  border: 1px solid;
}
.button:focus {
  outline: none;
}
.button > span {
  vertical-align: middle;
}
.button--round-l {
  border-radius: 40px;
}
.button--text-upper {
  letter-spacing: 2px;
  text-transform: uppercase;
}
.button--text-thick {
  font-weight: 600;
}
/* Pipaluk */
.button--pipaluk {
  width: 240px;
  padding: 1.5em 3em;
}
.button:hover {
  background-color: #38a0db;
  border: 1px solid;
  color: white;
}

.logo-front {
  width: 30%;
}

/* SLIDE */

a.button {
  display: block;
  position: relative;
  float: left;
  width: 120px;
  padding: 0;
  margin: 10px 20px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.2s;
}

.btnLightBlue {
  background: #5dc8cd;
}
.btnFade.btnLightBlue:hover {
  background: #01939a;
}
.btnLightBlue.btnPush:hover {
  box-shadow: 0px 0px 0px 0px #1e8185;
}

.btnLightBlue.btnBorder {
  box-shadow: 0px 0px 0px 0px #01939a;
}
.btnSlide.btnBlueGreen {
  background: 0;
}

.btnSlide .top {
  position: absolute;
  top: 0px;
  left: 0;
  width: 120px;
  height: 50px;
  background: #00ae68;
  z-index: 10;
  transition: all 0.2s;
  border-radius: 5px;
}

.btnSlide.btnBlueGreen .top {
  background: #00ae68;
}

.btnSlide.btnLightBlue .top {
  background: #5dc8cd;
}

.btnSlide.btnOrange .top {
  background: #ffaa40;
}

.btnSlide.btnPurple .top {
  background: #a74982;
}

.btnSlide .bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 50px;
  color: #000;
  z-index: 5;
  border-radius: 5px;
}

.btnSlide:hover .top {
  top: 40px;
}

.boutton {
  /* float: left; */
  /* min-width: 150px;
	max-width: 250px; */
  display: block;
  border: none;
  background: none;
  position: relative;
  z-index: 1;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  color: #38a0db;
  border: 1px solid;
  font-size: 12px;
  font-style: italic;
  padding: 6px;
}

.boutton:hover {
  background-color: #38a0db;
  border: 1px solid;
  color: white;
}
.danger {
  color: red;
}

/* Map */

.icon-marker-tooltip {
  position: absolute;
  bottom: 100%;
  left: -85%;
  width: 16em;
  font-size: 1.4em;
  background: white;
  padding: 1em;
  border-radius: 0.4em;
  /* margin-bottom: 1em; */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.icon-marker-tooltip img {
  width: 66%;
  margin-bottom: 1em;
  background: #aad3df;
}

.icon-marker-tooltip:before {
  display: block;
  position: absolute;
  bottom: -0.6em;
  left: 50%;
  content: "";
  width: 1.4em;
  height: 1.4em;
  background-color: blue-gray;
  transform: rotate(45deg);
  margin-left: -0.7em;
}
.icon-marker-tooltip h2 {
  font-size: 1.5em;
  line-height: 1.2;
  margin-bottom: 0.1em;
  margin-top: 0;
}
.icon-marker-tooltip h3 {
  font-size: 1.2em;
  margin: 0.1em 0;
  font-weight: normal;
  color: blue-grey;
}
.icon-marker-tooltip ul,
.icon-marker-tooltip p {
  font-weight: normal;
}
.icon-marker-tooltip ul {
  list-style: none;
  padding: 0;
  margin: 0.6em 0 0;
}

.main-panel {
  background: rgb(42, 74, 100) !important;
}
.text-white {
  color: white;
}

.btn-white {
  background-color: white;
  color: #38a0db;
  width: 100%;
}
.btn-red {
  background-color: white;
  color: rgb(158, 13, 13);
  width: 100%;
}
.bg-white {
  background: white;
}

.admin-s {
  background: #23ADDE;
  color: white;
  padding: 3px;
  border-radius: 10%;
  text-transform: uppercase;
}

.elu-s {
  background: rgb(134, 126, 4);
  color: white;
  padding: 3px;
  border-radius: 11px;
  text-transform: uppercase;
}

.business-s {
  background: rgb(4, 119, 185);
  color: white;
  padding: 5px;
  border-radius: 10%;
  text-align: center;
}

.visitor-s {
  background: rgb(177, 53, 59);
  color: white;
  padding: 3px;
  border-radius: 11px;
}
.citizen-s {
  background: rgb(235, 134, 39);
  color: white;
  padding: 3px;
  border-radius: 11px;
}
.reporter-s {
  background: rgb(236, 35, 35);
  color: white;
  padding: 3px;
}

.encharge-s {
  background:rgb(252, 166, 7);
  color: white;
  text-align: center;
}

img.width-half {
  width: 50% !important;
}
.card-stats .numbers {
  font-size: 23px;
  text-align: left;
  font-weight: 900;
  height: 100px;
}
.text-card-title {
  font-size: 17px;
}
.incident-count {
  font-size: 30px;
  font-weight: bold;
}
.card.card-stats .text-card.admin-stats {
  height: 150px;
}
.text-card-details {
  font-size: 20px;
  font-weight: 600 !important;
  font-style: italic;
}
.elu-dashboard-count-title {
  font-size: 15px;
}
.elu-dashboard-counter {
  font-size: 35px;
  font-weight: 700;
}
.upload-login-bgimg-row.row {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upload-bgimg-file-input label {
  width: 100%;
  margin-bottom: 0 !important;
  padding: 15px;
  border-color: #3e96d1 !important;
  border-radius: 25px;
}
.upload-new-bgimg-submit-btn {
  padding: 11px;
  width: 100%;
  border-color: #3e96d1 !important;
  font-size: 21px;
  font-weight: 600;
  color: #3e96d1;
  border-radius: 25px;
}
.upload-new-bgimg-submit-btn:hover,
.upload-new-bgimg-submit-btn:active,
.upload-new-bgimg-submit-btn:focus {
  background: #3e96d1 !important;
  color: #fff !important;
}
.manage-login-page-bgimg-container {
  padding: 25px;
  background: #ececec30;
  margin-bottom: 25px;
  border-radius: 10px;
}
.uploaded-img-preview-container {
  margin-bottom: 25px;
  padding: 15px;
}
.update-login-bgimg-input-label {
  color: #3e96d1 !important;
  border-bottom: 1px solid #3e96d136 !important;
  padding-bottom: 5px;
  text-align: center;
}

.leaflet-div-icon {
  background: transparent !important;
  border: none !important;
}
.content{
  padding:30px 15px;
  min-height:100%;
  background-color: #f4f7f7;
  border-radius: 5px;
  border: none;
  width: 80%;
  margin-left: 18%;
  margin-top: 7%;
}

.body{
  height:100%;
  background-color: #f4f7f7;
  width: 100%;
  background-attachment: fixed;
  flex: 1;
  gap: 1.5rem;
  margin-left: 15%;
}

.title{
  font-weight: 500;
  line-height: 48px;
  font-size: 36px;
  font: "Poppins";
}
.dash{
  /* margin-left: 15%; */
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.dash li  {
  text-decoration: none;
}


.dash_ul {
display: flex;
list-style: none;
padding: 0;
}

.dash_ul li {
  margin-right: 20px;
  cursor: pointer;
}

.dash_line {
  border-top: 1px solid #DCDBDD;
  margin-top: -10px;
  width: 100%;
  height: 1px;
}

.card {
  border: none; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  border-radius: 5px; 
  padding: 20px; 
  background-color: #fff; 
  margin-bottom: 20px; 
  width: 300px;
  height: 120px;
  transform: scale(1.04); 
}
.text-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 150px;
  height: 100%;
}

.text-card-header {
  display: flex;
  align-items: center;
}

.text-card-title {
  margin-right: 10px; 
}

.stat-icon {
  margin-top: -50px; 
  float: right;
  font-size: 40px;
  color: #fcbf4d;
}
.statistic-icon{
  margin-top: -50px; 
  float: right;
  font-size: 40px;
  color: #f82be7;
}
.statist-icon{
  margin-top: -50px; 
  float: right;
  font-size: 40px;
  color: #75a7f3;
}

.percentage {
  margin-top: -30px; 
  margin-left: 230px;
  float: right;
  color: green;
  font-size: small;
}
.resolve-percent{
  margin-top: -30px; 
  margin-left: 230px;
  float: right;
  color: rgb(245, 37, 37);
  font-size: small;
}

.percent p {
  margin: 0; 
  font-weight: bold;
  font-size: 30px;
  margin-top: 10%;
  margin-bottom: 5px;
  margin-left: 20px;
  justify-content: space-between;
}
.count-icon-container {
  display: flex;
  align-items: center;
}

.count-icon-container p {
  margin-right: 150px; 
}
.monthChoice{
  display: flex;
}
.angleDo{
  margin-top: 5px;
  margin-right: -20px;
  cursor: pointer;
}
.colle{
  background-color: #fff;
  height: 150px;
  border-radius: 30px;
  display: flex;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  flex-direction: column; 
}
.colle:hover{
  transform: scale(1.04);
}
.compte{
  margin-left: 20px;
  background-color: #fff;
  height: 150px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  display: flex;
  cursor: pointer;
  justify-content: center;
  flex-direction: column; 
}
.compte:hover{
  transform: scale(1.04);
}
.resolu{
  margin-left: 20px;
  background-color: #fff;
  height: 150px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column; 
}
.resolu:hover{
  transform: scale(1.04);
}
.titleCard{
  font-size: 16px;
  margin-top: 40px;
  font-weight: 400;
  margin-left: 20px;
}
.map-grid{
  border: 1px #84818A;
  width: 732px;
  height: 100%;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  /* display: flex; */
  justify-content: center;
  flex-direction: column; 
  align-items: center;
}
.map-grid:hover{
  transform: scale(1.01);
}
.map-grid-view{
  border: 1px #84818A;
  width: 732px;
  height: 100%;
  margin-left: 270px;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  /* display: flex; */
}
.map-grid-colabor{
  border: 1px #84818A;
  width: 80%;
  height: 100%;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}

.hr_blue{
  width: 80px;
  height: 15px;
  border:none;
  background-color: 
  #23ADDE;
  border-radius: 4px 0px 0px 4px;
  margin-right: 2px;
  cursor: pointer;
}
.hr_orange{
  width: 80px;
  height: 15px;
  border:none;
  background-color: rgb(252, 166, 7);
  margin-right: 2px;
  cursor: pointer;

}
.hr_red{
  width: 80px;
  height: 15px;
  background-color: rgb(236, 35, 35);
  border-radius: 0px 4px 4px 0px;
  border:none;
  cursor: pointer;
}
.hr_orange_gr{
  width: 100px;
  height: 15px;
  border:none;
  background-color: rgb(252, 154, 7);
  margin-right: 2px;
  cursor: pointer;

}
.hr_red_gr{
  width: 100px;
  height: 15px;
  background-color: #FF4A55;
  border-radius: 0px 4px 4px 0px;
  border:none;
  cursor: pointer;
}
.hr_yellow{
  width: 85px;
  height: 15px;
  border:none;
  background-color: 
  #f1db0d;
  border-radius: 4px 0px 0px 4px;
  margin-right: 2px;
  cursor: pointer;
}
.hr_blue:hover{
  transform: scale(1.04);
}

.hr_orange:hover{
  transform: scale(1.04);
}

.hr_red:hover{
  transform: scale(1.04);
}

.hr_yellow:hover{
  transform: scale(1.04);
}
.hr_orange_gr:hover{
  transform: scale(1.04);
}

.hr_red_gr:hover{
  transform: scale(1.04);
}

.codeColor{
  display: flex;
  margin-left: 70%;
}
.code{
  display: flex;
  margin-left: 200px;
  margin-top: 5px;
}
.codeColor p{
  font-style: poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #47464A;
}
.code-text {
  margin-left:800px; 
  margin-bottom:-20px; 
  font-weight:500; 
  font-size:16px; 
  line-height:21px;
}
.dashed-line {
  border-top: 1px dashed #999;
  margin: 20px 0; 
}
.repartition{
  margin: 10px;
  cursor: pointer; 
}
.repartionText{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-left: 10px;
}
.col_header{
  margin: 30px 0px 0px 10px;
}
.col_header h4{
  font-style: poppins;
  font-weight: 500;
  line-height: 26px;
  font-size: 18px;
}
.col_header p{
  color: #47464A;
  font-size: 14px;
}
.chart-grid{
  /* width: 360px; */
  height: 448px;
  background-color: #fff;
  margin-left: 20px;
  margin-bottom: 20px;
  border: 1px #84818A;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}
.chart-grid:hover{
  transform: scale(1.04);
}
.action-grid{
  /* width: 360px; */
  height: 236px;
  background-color: #fff;
  margin-left: 20px;
  margin-bottom: 20px;
  border: 1px #84818A;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}
.chart-grid-ia{
  width: 400px;
  height: 100%;
  background-color: #fff;
  margin-left: 20px;
  margin-bottom: 20px;
  border: 1px #84818A;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 

}
.descriptionIncident{
  background-color: #F1F3F4;
  min-height: 200px;
  width: 600px;
  text-align: justify;
  padding: 20px;
  margin-top: 5px;
}
.videoIncident{
  width: 686px;
  height: 495px;
  margin: auto;

}
.audioIncident{
  margin-bottom: 30px; 
}
.boutonAnalyse{
  font-style: poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  background-color: #3DA3DE;
  width: 177px;
  height: 40px;
  margin-top: 105px;
  margin-bottom: 105px;
  margin-left: 200px;
  border-radius: 20px;
  text-align: center;
  padding: 5px;
}
.alerts{
  font-style: poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #47464A;
  margin: 10px;
}
h6 h5{
  font-weight:500; font-size: 18px; line-height:26px;
}
.typeIncident{
  background-color: #6c8d70;
  width: 108px;
  height: 108px;
  border-radius: 20px;
  justify-content: center;
}
.ask{
  background-color: #3DA3DE;
  color: #fff;
  width: 270px;
  height: 67px;
  margin-left: 180px;
  margin-bottom: 50px;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  /* font-style: poppins; */
}
.leaflet-container{
  height: 50vh;
  margin-bottom: 5vh;
}
.dotpurple{
  width: 10px;
  height: 10px;
  background-color: purple;
  margin-right: 10px;
  border-radius: 30px;
}

.dotorange{
  width: 10px;
  height: 10px;
  background-color: orange;
  border-radius: 30px;
  margin-right: 10px;
}
.doghnut_p{
  font-weight:500; 
  font-size:14px; 
  line-height:21px;
  margin-top: -4px;
}
.separate {
  transform: rotate(90deg);
  margin-top: -60px;
  margin-bottom: 10px;
  height: 50px;
  margin-left: 50%;
  display: flex;
}

.etat{
  width: 109px;
  height: 40px;
  background-color: #3DA3DE;
  border: none;
  border-radius: 15px;
  color: #fff;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

.link{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #202020;
  text-decoration: none;
}
.selected-link {
  color: rgb(51, 179, 230); 
  font-weight: bold; 
  text-decoration: none;
}
.non-clickable {
  pointer-events: none;
  cursor: wait;
}
.notification{
 
  background-color: #fff;
  color: #202020;
  
}
.colorCode{
  margin-left: 70%;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 18px;
  margin-top: -5%;
}
.pun{
  width: 164px;
  height: 164px;
  margin-left: 25%;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
  width: 84%;
}

.static-card{
  gap: 20px;
  display: flex;
}