.profile {
    flex: 1;
    margin-left: 19%;
    margin-top: 10%;

}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit {
    background: #dde6ed;
    padding: 12px;
    border-radius: 10px;
    color: #969393;
    align-items: center;
    display: flex;
    justify-content: center;
}
.edit .icon {
    font-size: 20px;
    transition: 0.5s ease-in-out;
}
.edit:hover {
    transform: scale(1.04);
}

.user-profile {
    height: 95%;
    margin-top: 2rem;
    background-color: #dde6ed;
    border-radius: 10px;
    padding: 10px;
    flex-direction: column;
}

.user-detail {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.user-detail img {
    background: #fff;
    border-radius: 50%;
    width: 150px;
}

.user-detail .email {
    color: #525252;

}

.user-info {
    background: #fff;
    flex: 1;
    border-radius: 10px;
    padding: 10px;
    flex-direction: column;
    display: flex;
    gap: 10px;
}

.pws {
    margin-top:  1rem;
}

