.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.chat-container {
    max-width: 1200px;
    max-height: 1500px;
}

.chat {
    padding: 10px;
    width: 900px;
    height: 700px;
    /* Adjust based on your header and input container height */
    background-color: rgb(77, 168, 253, 0.6);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: 10px;
    margin-bottom: 10px;
    /* Ensure there's space for the input container */
    border: 2px solid black;
}

.chat:-webkit-scrollbar {
    display: none;
}

.input-chat-container {
    padding: 10px;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: rgb(77, 253, 215);
    border-radius: 10px;
    border: 2px solid black;
}

.input-chat {
    width: 800px;
    min-height: 25px;
    outline: none;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}

.submit-chat {
    max-width: 50px;
    background-color: rgb(0, 55, 128);
    outline: none;
    border: 2px solid rgb(0, 55, 128);
    cursor: pointer;
    margin-left: 5px;
    color: white;
    border-radius: 10px;
}

.submit-chat:hover {
    width: 50px;
    background-color: rgb(16, 108, 230);
}

.my-message-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.my-message {
    padding: 5px;
    width: fit-content;
    min-width: 100px;
    max-width: 700px;
    background-color: rgb(77, 253, 215);
    border: 1px solid black;
    box-shadow: 5px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.another-message-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.another-message {
    max-width: 400px;
    padding: 5px;
    width: fit-content;
    background-color: rgb(212, 253, 77);
    border: 1px solid black;
    box-shadow: 5px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.client {
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.message {
    margin-top: 3px;
    margin-bottom: 0px;
}